@font-face {
    font-family: "Overpass";
    src: url(./Overpass/static/Overpass-Regular.ttf);
}




.selected-rating.num{
    background-color: white;
    color: black;
}
@media(min-width:800px){
    .container{
        max-width: 400px;
        max-height: 500px;
    }
}