*{
box-sizing: border-box;
margin: 0;
}

body,html{
 height: 100%;

}

body{
    background-color: hsl(233, 47%, 7%) ;
    font-size: 15px;
    font-family: 'inter',
    sans-serif;
    display: flex;
    justify-content: center;
    align-items: center
}
.img-contener{
    position: relative;
}
.shadow{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    opacity: .5;
    position: absolute;
    border-top-right-radius:5px ;
    border-top-left-radius:5px 
}
img{
    width: 100%;
    display: block;
    max-width: 100%;
}
.des{
    display: none;
}

main{
    margin-inline: 15px;
    overflow: hidden;

 max-width: 290px;
    background-color: hsl(244, 38%, 16%); 
    display: flex;
   flex-direction: column;
   border-radius: 5px;


} 

p, .card{
    color: hsla(0, 0%, 100%, 0.75);
}
.card{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

}
.card p{
    margin-bottom: 10px;
}
header{
  color:  hsl(0, 0%, 100%);
}
header span{
    color:hsl(277, 64%, 61%) ;
}
h2{
    color:  hsl(0, 0%, 100%);
}
article{
    text-align: center;
    align-items: center;
margin: 32px;    
    display: flex;
    flex-direction: column;
    gap: 32px;

}

@media (min-width:880px){
   
    main{
        max-width: 1000px;
        flex-direction: row-reverse;
    }
    main >*{
        
        flex: 1;
    }
    article{
        text-align:start

    }
    .card{
        flex-direction: row;
        gap: 16px;
  
    }
  
    .des{
        display: block;
    }
    .mobile{
        display: none;
    }

}



