:root{
    --White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Dark-Blue: hsl(213, 19%, 18%);
--Dark-Blue-back: hsl(213, 19%, 23%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
--Orange: hsl(25, 97%, 53%)

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
img{
    display: block;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: "Overpass";
background-color: var(--Very-Dark-Blue);
color: var(--Light-Grey);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 310px;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: var(--Dark-Blue);
}